<ion-content>
  <div class="user">
    <ion-icon name="person-circle-outline" size="large"></ion-icon
    ><span>{{userId}}</span>
  </div>
  <div class="wrapper">
    <div class="content">
      <div class="greeting">
        <app-row [letters]="titleRows[0]"></app-row>
        <app-row [letters]="titleRows[1]"></app-row>
      </div>
      <ion-button
        expand="block"
        color="dark"
        fill="outline"
        (click)="onPlayOnline()"
      >
        Play Online
      </ion-button>
      <ion-button expand="block" color="dark" (click)="onPlaySolo()">
        Play Solo
      </ion-button>
      <ion-button
        fill="transparent"
        expand="block"
        color="dark"
        (click)="onShowInstructions()"
      >
        How to Play?
      </ion-button>
    </div>
  </div>
</ion-content>
