<ion-content>
  <div class="safe-area">
    <div class="user">
      <ion-icon name="person-circle-outline" size="large"></ion-icon
      ><span>{{userId}}</span>
    </div>
    <div class="wrapper">
      <div class="content">
        <div class="greeting">
          <app-row [letters]="titleRows[0]" [displayOnly]="true"></app-row>
          <app-row [letters]="titleRows[1]" [displayOnly]="true"></app-row>
        </div>
        <ion-button
          expand="block"
          color="dark"
          fill="outline"
          (click)="onPlayOnline()"
        >
          Play Online
        </ion-button>
        <ion-button expand="block" color="dark" (click)="onPlaySolo()">
          Play Solo
        </ion-button>
        <ion-button
          fill="transparent"
          expand="block"
          color="dark"
          (click)="onShowInstructions()"
        >
          How to Play?
        </ion-button>
      </div>
      <div class="play-link" *ngIf="!isApp">
        <a
          href="https://play.google.com/store/apps/details?id=tech.faisalrashid.wordle&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          target="_blank"
          ><img
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
        /></a>
      </div>
    </div>
  </div>
</ion-content>
