<ion-content [fullscreen]="true">
  <div class="root safe-area">
    <app-header></app-header>
    <app-row
      [letters]="row"
      *ngFor="let row of rows; let i = index; trackBy: trackById"
      [showBusy]="i === activeRowIndex && isWaiting"
    ></app-row>
    <div style="height: 30px"></div>
    <app-keyboard
      *ngFor="let row of keys"
      [keys]="row"
      (keyClicked)="onClickKey($event)"
    ></app-keyboard>
    <div *ngIf="opponentId">
      <div style="text-align: center; font-size: 1.4rem; margin: 10px 0">
        {{opponentId}}'s board
      </div>
      <app-opponent-board [rows]="opponentRows"></app-opponent-board>
    </div>
  </div>
</ion-content>
